 
.logo1{
  width:40px; height: 40px
}   
.hbar{
  background-color: #1B2631;
  font-size: 20px;
}
body{
  background-color: #76448A;
}  
.r1,.r2,.r3{
        padding: 20px;
        border-color: black;
        border-width: 5px;
        border-style: solid;
        align-content:center;
        margin-left:auto;
        margin-right: auto;
        width:80%;
        background-color: white;
      }
p{ 
        
        font-family: verdenia;
        font-size: 20px;
        text-align:left;
        align-content:center;
        margin-left:auto;
        padding-left: 20px;
        margin-right: auto;

       } 

h1{
  padding-left: 20px
}
#main_nav.img{
        margin-left:auto;
        margin-right: auto;
        margin-top:10px;
        display: block;
        border-color: white;
        border-width:20;
      }

.r1{
  position: relative;
  animation: my1 2s 1;
  animation-direction: normal;
}
.r2{
  position: relative;
  animation: my2 2s 1;
  animation-direction: normal;
}      

@keyframes my1 {
  0%   { left: 500px; top: 0px;}
  100%  { left: 0px; top: 0px;}
}
@keyframes my2 {
  0%   { right: 500px; top: 0px;}
  100%  { right: 0px; top: 0px;}
}


<!---second part-->
.content
{
  position: relative;
  width:1; 
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: center;
  margin-left: 50px;
  color: #21618C;
}
.r1:hover
{
  z-index:1;
  transform:scale(1.1);
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.r2:hover
{
  z-index:1;
  transform:scale(1.1);
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.r3:hover
{
  z-index:1;
  transform:scale(1.1);
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.r4
{
   
   margin-left: 10%;
   margin-right: 10%;
}


.box
{
  position: relative;
  width:300px;
  height:400px;
  overflow:hidden;
  transition:0.5s;
}

.box:hover
{
  z-index:1;
  transform:scale(1.25);
  box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.box img
{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;height:100%;
  object-fit: cover;
  /*object-fit: cover; */
}
.content p
{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  padding: 20px;
  /*
  */
  display: flex;
  align-items: flex-end; 
  color: white;
  border-color: red;
}
